@model Chat.DTO.DTO.TrainDTO
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>@Model.Title</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
    <div class="articlebox">
        <div class="articleder">
            <img src="/images/img.jpg" alt="" />
            <h2>@Model.Title</h2>
        </div>
        <div class="articleattr">
            <ul class="attrs">
                <li><span>培训时间</span><div>@Model.StartTime ~ @Model.EndTime</div></li>
                <li><span>培训地点</span><div>@Model.Address</div></li>
                <li><span>培训状态</span><div><font class="green">@Model.StatusName</font> <!--<font class="red">已结束</font>--></div></li>
            </ul>
            <div class="prices">
                <span>报名费用</span><div><span class="red">@(Model.EntryFee)元/人</span>已报名<font class="red">@(Model.EntryCount)/@(Model.UpToOne)</font></div>
            </div>
        </div>
        <div class="articleinfo">
            <div class="articleinfo-con">
                <p>@Model.Description</p>
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="subnav">
        <ul>
            <li><a href="/train/list">返回首页</a></li>
            <li><a href="/train/joinin?id=@Model.Id">
                @if(Model.StatusName=="已结束")
                {
                    <text>活动已结束，无法报名</text>
                }
                </a>
            </li>
        </ul>
    </div>
</body>
</html>

