@model Chat.AdminWeb.Models.Train.EntryEditViewModel
@{
    ViewBag.Title = "新增报名人员";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainpanel">
    <form class="form-horizontal" method="post" id="formAdd" enctype="multipart/form-data" action="~/activity/add">
        <div class="contentpanel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>报名信息</h4>
                    <input type="hidden" id="entryId" value="@Model.Entry.Id" />
                    <input type="hidden" id="trainId" value="@Model.TrainId" />
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">姓名:</label>
                        <div class="col-sm-6">
                            <input type="text" id="name" value="@Model.Entry.Name" placeholder="" maxlength="30" class="form-con  trol">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">性别:</label>
                        <div class="col-sm-6">
                            <input type="radio" name="gender" id="gender1" value="true" checked="@Model.Entry.Gender" /><label for="gender1">男</label>&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="gender" id="gender0" value="false" checked="@(!Model.Entry.Gender)" /><label for="gender0">女</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">手机号:</label>
                        <div class="col-sm-6">
                            <input type="text" id="mobile" value="@Model.Entry.Mobile" placeholder="" maxlength="30" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">工作地:</label>
                        <div class="col-sm-6">
                            <select name="cityId" id="cityId" class="form-control">
                                <option value="">选择工作地</option>
                                @foreach (var city in Model.Cities)
                                {
                                    <option value="@city.Id" selected="@(Model.Entry.CityId==city.Id)">@city.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">工作单位:</label>
                        <div class="col-sm-6">
                            <input type="text" id="workUnits" value="@Model.Entry.WorkUnits" placeholder="" maxlength="30" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">职务:</label>
                        <div class="col-sm-6">
                            <input type="text" id="duty" value="@Model.Entry.Duty" placeholder="" maxlength="30" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">住宿:</label>
                        <div class="col-sm-6">
                            <input type="radio" name="stayId" id="stayId32" value="32" checked="@(Model.Entry.StayId==32)" /><label for="stayId32">单住</label>&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="stayId" id="stayId33" value="33" checked="@(Model.Entry.StayId==33)" /><label for="stayId33">可合住</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">支付方式:</label>
                        <div class="col-sm-6">
                            <select name="payId" id="payId" class="form-control">
                                <option value="">选择支付方式</option>
                                @foreach (var pay in Model.Pays)
                                {
                                    <option value="@pay.Id" selected="@(Model.Entry.PayId==pay.Id)">@pay.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>开票信息</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">发票抬头:</label>
                        <div class="col-sm-6">
                            <input type="text" id="invoiceUp" value="@Model.Entry.InvoiceUp" placeholder="" maxlength="30" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">税号:</label>
                        <div class="col-sm-6">
                            <input type="text" id="ein" value="@Model.Entry.Ein" placeholder="" maxlength="30" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">地址:</label>
                        <div class="col-sm-6">
                            <input type="text" id="address" value="@Model.Entry.Address" placeholder="" maxlength="30" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">联系方式:</label>
                        <div class="col-sm-6">
                            <input type="text" id="contact" value="@Model.Entry.Contact" placeholder="" maxlength="30" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">开户行:</label>
                        <div class="col-sm-6">
                            <input type="text" id="openBank" value="@Model.Entry.OpenBank" placeholder="" maxlength="30" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">银行账号:</label>
                        <div class="col-sm-6">
                            <input type="text" id="bankAccount" value="@Model.Entry.BankAccount" placeholder="" maxlength="30" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="text-align:center">
                    <button type="button" id="btnAdd" class="btn btn-primary mr5">确定</button>&nbsp;&nbsp;&nbsp;
                    <a href="/train/entrylist?id=@Model.TrainId" class="btn btn-default">返回</a>
                </div>
            </div>
        </div><!-- contentpanel -->
    </form>
</div><!-- mainpanel -->
        </div><!-- mainwrapper -->
    </section>


@section FooterScript
{
    <script type="text/javascript">
        $(function(){

            $("#btnAdd").click(function () {
                var id = $("#entryId").val();
                var trainId = $("#trainId").val();
                var name = $("#name").val();
                var gender = $("input[name='gender']:checked").val();
                var mobile = $("#mobile").val();
                var cityId = $("#cityId").val();
                var workUnits = $("#workUnits").val();
                var duty = $("#duty").val();
                var stayId = $("input[name='stayId']:checked").val();
                var payId = $("#payId").val();
                var invoiceUp = $("#invoiceUp").val();
                var ein = $("#ein").val();
                var address = $("#address").val();
                var contact = $("#contact").val();
                var openBank = $("#openBank").val();
                var bankAccount = $("#bankAccount").val();
                $.ajax({
                    url: "/train/entryedit", type: "post",
                    data: { id:id, trainId: trainId, name: name, gender: gender, mobile: mobile, cityId: cityId, workUnits: workUnits, duty: duty, stayId: stayId, payId: payId, invoiceUp: invoiceUp, ein: ein, address: address,contact:contact, openBank: openBank, bankAccount: bankAccount },
                    success: function (result) {
                        if(result.status=="0")
                        {
                            alert(result.errorMsg);
                        }
                        else if(result.status=="1")
                        {
                            alert("报名用户编辑成功");
                            window.location.href = result.data;
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
        })
    </script>
}