@model Chat.AdminWeb.Models.Train.TrainListViewModel
@{
    ViewBag.Title = "培训管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #pager ul li {
        float: left;
        margin-left: 10px;
        color: lightskyblue;
        list-style-type: none;
        width: 30px;
        font-size: 8px;
        margin: 0px;
    }

    .curPager {
        color: brown;
    }
</style>
<div class="mainpanel">
    <div class="contentpanel">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-inline">
                    <div class="form-group mt10">
                        <a class="btn btn-primary mr5" iconcls="icon-search" href="~/train/add"><i class="fa fa-plus"></i>创建培训活动</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-inline">
                    <div class="form-group mt10">
                        <select name="" id="statusId" class="form-control">
                            <option value="">状态</option>
                            <option value="34">待开始</option>
                            <option value="35">进行中</option>
                            <option value="36">已结束</option>
                        </select>
                    </div>
                    <div class="form-group mt10">
                        <input type="text" id="txtStar" placeholder="请输入起始时间" class="form-control Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})">
                        <input type="text" id="txtEnd" placeholder="请输入结束时间" class="form-control Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})">
                    </div>
                    <div class="form-group mt10">
                        <input type="text" id="keyWord" placeholder="请输入培训活动名称" class="form-control">
                    </div>
                    <div class="form-group mt10">
                        <a class="btn btn-primary mr5" id="search" iconcls="icon-search" href="javascript:;"><i class="fa fa-search"></i> 搜 索 </a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-primary mb30">
                    <thead>                    
                        <tr>
                            <th style="min-width: 80px;">编号</th>
                            <th style="min-width: 80px;">培训主题</th>
                            <th style="min-width: 80px;">状态</th>
                            <th style="min-width: 80px;">报名费用</th>
                            <th style="min-width: 80px;">访问量</th>
                            <th style="min-width: 80px;">已报名人数</th>
                            <th style="min-width: 80px;">报名人数上限</th>
                            <th style="min-width: 80px;">创建时间</th>
                            <th style="min-width: 80px;">开始时间</th>
                            <th style="min-width: 80px;">截止时间</th>
                            <th style="min-width: 120px;">操作</th>
                        </tr>
                    </thead>
                    <tbody id="paperList">
                    @foreach (var train in Model.Trains)
                    {
                            <tr>
                                <td data-attr="编号">@train.Id</td>
                                <td data-attr="培训主题">@train.Title</td>
                                <td data-attr="状态">@train.StatusName</td>
                                <td data-attr="报名费用">@train.EntryFee</td>
                                <td data-attr="访问量">@train.VisitCount</td>
                                <td data-attr="已报名人数">@train.EntryCount</td>
                                <td data-attr="报名人数上限">@train.UpToOne</td>
                                <td data-attr="创建时间">@train.CreateDateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                <td data-attr="开始时间">@train.StartTime</td>
                                <td data-attr="截止时间">@train.EndTime</td>
                                <td data-attr="操作">
                                    <a href="/train/EntryList?id=@train.Id" class="btn btn-primary btn-sm">报名管理</a>    
                                    <a href="~/train/edit?id=@train.Id" class="btn btn-primary btn-sm">编辑</a>                                                                   
                                    <button data-toggle="modal" data-target="#myModal" value="@train.Id" class="btn btn-danger btn-sm Jsdel">删除</button>
                                </td>
                            </tr>
                     }
                    </tbody>
                </table>
                <div id="pager">@Html.Raw(Model.Page)</div>
            </div>
        </div>
    </div><!-- contentpanel -->
</div><!-- mainpanel -->
        </div><!-- mainwrapper -->
    </section>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>确定删除该活动？</p>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-default" id="cancel" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="sureDel">确认</button>
            </div>
        </div>
    </div>
</div>

@section FooterScript
{
    <script type="text/javascript">
        function getPage(pageIndex) {
            var statusId = $("#statusId").val();
            var startTime = $("#txtStar").val();
            var endTime = $("#txtEnd").val();
            var keyWord = $("#keyWord").val();
            $.ajax({
                url: "/train/trainsearch?pageindex=" + pageIndex, type: "post", data: { statusId: statusId, startTime: startTime, endTime: endTime, keyWord: keyWord },
                success: function (result) {
                    $("#pager").empty();
                    $("#pager").append(result.data.page);
                    $("#paperList").empty();
                    $("#paperList").append('<input type="hidden" id="index" value="' + pageIndex + '" />');

                    for (var i = 0; i < result.data.trains.length; i++) {
                        $("#paperList").append('<tr><td data-attr="编号">'+result.data.trains[i].id+'</td><td data-attr="培训主题">'+result.data.trains[i].title+'</td><td data-attr="状态">'+result.data.trains[i].statusName+'</td><td data-attr="报名费用">'+result.data.trains[i].entryFee+'</td><td data-attr="访问量">'+result.data.trains[i].visitCount+'</td><td data-attr="已报名人数">'+result.data.trains[i].entryCount+'</td><td data-attr="报名人数上限">'+result.data.trains[i].upToOne+'</td><td data-attr="创建时间">'+result.data.trains[i].createDateTime+'</td><td data-attr="开始时间">'+result.data.trains[i].startTime+'</td><td data-attr="截止时间">'+result.data.trains[i].endTime+'</td><td data-attr="操作"><a href="/train/EntryList?id='+result.data.trains[i].id+'" class="btn btn-primary btn-sm">报名管理</a><a href="~/train/edit?id='+result.data.trains[i].id+'" class="btn btn-primary btn-sm">编辑</a><button data-toggle="modal" data-target="#myModal" value="'+result.data.trains[i].id+'" class="btn btn-danger btn-sm Jsdel">删除</button></td></tr>');
                    }
                },
                error: function () { alert("网络错误"); }
            });
        }

        $(function () {

            $('.Jsdel').click(function () {
                $("#sureDel").val($(this).val());
            });

            $('.excelSave').click(function () {
                $("#sureSaveCel").val($(this).val());
            });
                        
            $("#getPage").live("click",function () {
                var index = $("#setIndex").val();
                getPage(index);
            });

            //搜索
            $("#search").click(function () {
                var statusId = $("#statusId").val();
                var startTime = $("#txtStar").val();
                var endTime = $("#txtEnd").val();
                var keyWord = $("#keyWord").val();
                $.ajax({
                    url: "/train/trainsearch", type: "post", data: {statusId:statusId, startTime: startTime, endTime: endTime, keyWord: keyWord,pageIndex:1 },
                    success: function (result) {
                        $("#pager").empty();
                        $("#pager").append(result.data.page);
                        if (result.status == "0") {
                            alert(result.errorMsg);
                        }
                        else if (result.status == "1") {
                            $("#paperList").empty();
                            for (var i = 0; i < result.data.trains.length; i++) {
                                $("#paperList").append('<tr><td data-attr="编号">' + result.data.trains[i].id + '</td><td data-attr="培训主题">' + result.data.trains[i].title + '</td><td data-attr="状态">' + result.data.trains[i].statusName + '</td><td data-attr="报名费用">' + result.data.trains[i].entryFee + '</td><td data-attr="访问量">' + result.data.trains[i].visitCount + '</td><td data-attr="已报名人数">' + result.data.trains[i].entryCount + '</td><td data-attr="报名人数上限">' + result.data.trains[i].upToOne + '</td><td data-attr="创建时间">' + result.data.trains[i].createDateTime + '</td><td data-attr="开始时间">' + result.data.trains[i].startTime + '</td><td data-attr="截止时间">' + result.data.trains[i].endTime + '</td><td data-attr="操作"><a href="/train/EntryList?id=' + result.data.trains[i].id + '" class="btn btn-primary btn-sm">报名管理</a><a href="~/train/edit?id=' + result.data.trains[i].id + '" class="btn btn-primary btn-sm">编辑</a><button data-toggle="modal" data-target="#myModal" value="' + result.data.trains[i].id + '" class="btn btn-danger btn-sm Jsdel">删除</button></td></tr>');
                            }
                        }
                        else {
                            alert("未知错误");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });

            //删除
            $("#sureDel").click(function () {
                var id = $(this).val();
                $.ajax({
                    url: "/train/delete", type: "post", data: { id: id },
                    success: function (result) {
                        if (result.status == "0") {
                            alert(result.errorMsg);
                            $("#cancel").click();
                        }
                        else if (result.status == "1") {
                            $("#cancel").click();
                            window.location.reload();
                        }
                        else {
                            alert("未知错误");
                            $("#cancel").click();
                        }
                    },
                    error: function () { alert("网络错误"); $("#cancel").click(); }
                });
            });

        })
    </script>
}
