@model Chat.AdminWeb.Models.Main.EditAdminUserViewModel
@{
    ViewBag.Title = "编辑管理员";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainpanel">
    <div class="contentpanel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>权限设置</h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <input type="hidden" id="userId" value="@Model.Id" />
                        <label class="col-sm-3 control-label">管理员等级:</label>
                        <div class="col-sm-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="roleName" id="manager1" value="@Model.Hall.Name" checked="@(Model.Hall.Name==Model.RoleName)">厅级管理员（在培训活动管理-报名管理中，拥有全部功能操作权限）
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="roleName" id="manager2" value="@Model.RoleName">市级管理员（在培训活动管理-报名管理-按市级表格导入时，只能导入所在市，且不能导出汇总表格）
                                </label>
                            </div>
                            <select id="cityId" class="form-control" style="width: 200px;">
                                <option value="">选择所属市级</option>
                                @foreach (var city in Model.Citys)
                                {
                                    <option value="@(city.Name+"-")" selected="@(city.Name+"-"==Model.RoleName)">@city.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <hr />
                    <style type="text/css">
                        .limit-checkbox {
                            border-bottom: 1px solid #eee;
                        }

                        .limit-checkbox-two {
                            padding-left: 30px;
                        }
                    </style>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">权限设置:</label>
                        <input type="hidden" name="list" id="list" value="@Model.ListId" />
                        <div class="col-sm-6" style="border: 1px solid #eee; padding: 10px 20px 20px;">
                            <div class="limit-checkbox">
                                <div class="checkbox">
                                    <h5>答题管理</h5>
                                </div>
                                <div class="limit-checkbox-two">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="paper" id="paper" value="@Model.PaperId" checked="@(Model.PermissionIds.Contains(Model.PaperId))" class="activity">考卷管理
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="activity" id="activity" value="@Model.ActivityId" checked="@(Model.PermissionIds.Contains(Model.ActivityId))" class="activity">答题活动管理
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="limit-checkbox">
                                <div class="checkbox">
                                    <h5>培训管理</h5>
                                </div>
                                <div class="limit-checkbox-two">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="train" id="train" value="@Model.TrainId" checked="@(Model.PermissionIds.Contains(Model.TrainId))" class="train">培训管理
                                        </label>
                                    </div>
                                    <div class="limit-checkbox-two">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="entry" id="entry" value="@Model.EntryId" checked="@(Model.PermissionIds.Contains(Model.EntryId))" class="train">报名管理
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="limit-checkbox">
                                <div class="checkbox">
                                    <h5>用户管理</h5>
                                </div>
                                <div class="limit-checkbox-two">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="user" id="user" checked="@(Model.PermissionIds.Contains(Model.UserId))" value="@Model.UserId">用户管理
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="limit-checkbox">
                                <div class="checkbox">
                                    <h5>系统设置</h5>
                                </div>
                                <div class="limit-checkbox-two">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="log" class="admin" checked="@(Model.PermissionIds.Contains(Model.LogId))" value="@Model.LogId">系统日志
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="adminUser" class="admin" checked="@(Model.PermissionIds.Contains(Model.AdminUserId))" value="@Model.AdminUserId">后台用户管理
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="panel-footer" style="text-align:center">
                <button class="btn btn-primary mr5" id="btnSave">确定</button>
                <a href="Javascript:window.history.go(-1)" class="btn btn-default">返回</a>
            </div>
        </div>
    </div><!-- contentpanel -->
</div><!-- mainpanel -->
            </div><!-- mainwrapper -->
        </section>
@section FooterScript
{
    <script type="text/javascript">
        $(function () {

            $("#cityId").change(function () {
                $("#manager2").val($(this).val());
                $("#manager2").attr("checked", "checked");
            });

            $("#entry").change(function () {
                if ($("#entry").is(":checked")) {
                    $("#train").attr("checked", "checked")
                }
            });

            $("#train").change(function () {
                if ($("#train").is(":checked") == false) {
                    $("#entry").attr("checked", false);
                }
            });

            $("#btnSave").live("click", function () {
                var roleName = $("input[name='roleName']:checked").val();
                var list = $("#list").val();
                var paper = 0;
                var activity = 0;
                var train = 0;
                var entry = 0;
                var user = 0;
                var log = 0;
                var adminUser = 0;
                if ($("#paper").is(":checked")){
                    paper = $("#paper").val();
                }
                if ($("#activity").is(":checked")) {
                    activity = $("#activity").val();
                }
                if ($("#train").is(":checked")) {
                    train = $("#train").val();
                }
                if ($("#entry").is(":checked")) {
                    entry = $("#entry").val();
                }
                if ($("#user").is(":checked")) {
                    user = $("#user").val();
                }
                if ($("#log").is(":checked")) {
                    log = $("#log").val();
                }
                if ($("#adminUser").is(":checked")) {
                    adminUser = $("#adminUser").val();
                }
                var id= $("#userId").val();
                var permissionIds = new Array(list, paper, activity, train, entry, user, log, adminUser);
                $.ajax({
                    url: "/main/edit", type: "post", data: { id:id, roleName:roleName,permissionIds },
                    success: function (result) {
                        if (result.status == "0") {
                            alert(result.errorMsg);
                        }
                        else if (result.status == "1") {
                            alert("管理员编辑成功！");
                            window.location.href = "/main/list";
                        }
                        else {
                            alert("未知错误");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });

            if($("#cityId").val()==$("#manager2").val())
            {
                $("#manager2").attr("checked", "checked");
            }
        });
    </script>
}
