@model Chat.AdminWeb.Models.Home.AdminLogsViewModel
@{
    ViewBag.Title = "系统日志";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #pager ul li {
        float: left;
        margin-left: 10px;
        color: lightskyblue;
        list-style-type: none;
        width: 30px;
        font-size: 8px;
        margin: 0px;
    }

    .curPager {
        color: brown;
    }
</style>
<div class="mainpanel">
    <div class="contentpanel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-inline">
                    <div class="form-group mt10">
                        <input type="text" id="txtStar" placeholder="请输入起始时间" class="form-control Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})">
                        <input type="text" id="txtEnd" placeholder="请输入结束时间" class="form-control Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})">
                    </div>
                    <div class="form-group mt10">
                        <input type="text" id="keyWord" placeholder="请输入日志描述信息" class="form-control">
                    </div>
                    <div class="form-group mt10">
                        <a class="btn btn-primary mr5" id="search" iconcls="icon-search" href="javascript:;"><i class="fa fa-search"></i> 搜 索 </a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-primary mb30">
                    <thead>                    
                        <tr>
                            <th style="min-width: 80px;">记录ID</th>
                            <th style="min-width: 80px;">操作人</th>
                            <th style="min-width: 80px;">IP地址</th>
                            <th style="min-width: 80px;">操作内容</th>
                            <th style="min-width: 80px;">操作时间</th>
                        </tr>
                    </thead>
                    <tbody id="paperList">
                    @foreach (var log in Model.Logs)
                    {
                            <tr>
                                <td data-attr="记录ID">@log.Id</td>
                                <td data-attr="操作人">@log.AdminUserName</td>
                                <td data-attr="IP地址">@log.IpAddress</td>
                                <td data-attr="操作内容">@log.Message</td>
                                <td data-attr="操作时间">@log.CreateDateTime</td>
                            </tr>
                     }
                    </tbody>
                </table>
                <div id="pager">@Html.Raw(Model.Page)</div>
            </div>
        </div>
    </div><!-- contentpanel -->
</div><!-- mainpanel -->
        </div><!-- mainwrapper -->
    </section>

@section FooterScript
{
    <script type="text/javascript">
        function getPage(pageIndex) {
            var startTime = $("#txtStar").val();
            var endTime = $("#txtEnd").val();
            var keyWord = $("#keyWord").val();
            $.ajax({
                url: "/home/logs?pageindex=" + pageIndex, type: "post", data: { startTime: startTime, endTime: endTime, keyWord: keyWord },
                success: function (result) {
                    $("#pager").empty();
                    $("#pager").append(result.data.page);
                    $("#paperList").empty();
                    $("#paperList").append('<input type="hidden" id="index" value="' + pageIndex + '" />');

                    for (var i = 0; i < result.data.logs.length; i++) {
                        $("#paperList").append('<tr><td data-attr="记录ID">' + result.data.logs[i].id+ '</td><td data-attr="操作人">' + result.data.logs[i].adminUserName+ '</td><td data-attr="IP地址">' + result.data.logs[i].ipAddress+ '</td><td data-attr="操作内容">' + result.data.logs[i].message+ '</td><td data-attr="操作时间">' + result.data.logs[i].createDateTime+ '</td></tr>');
                    }
                },
                error: function () { alert("网络错误"); }
            });
        }

        $(function () {

            $("#getPage").live("click",function () {
                var index = $("#setIndex").val();
                getPage(index);
            });

            //搜索
            $("#search").click(function () {
                var startTime = $("#txtStar").val();
                var endTime = $("#txtEnd").val();
                var keyWord = $("#keyWord").val();
                $.ajax({
                    url: "/home/logs", type: "post", data: { startTime: startTime, endTime: endTime, keyWord: keyWord,pageIndex:1 },
                    success: function (result) {
                        $("#pager").empty();
                        $("#pager").append(result.data.page);
                        if (result.status == "0") {
                            alert(result.errorMsg);
                        }
                        else if (result.status == "1") {
                            $("#paperList").empty();
                            for (var i = 0; i < result.data.logs.length; i++) {
                                $("#paperList").append('<tr><td data-attr="记录ID">' + result.data.logs[i].id + '</td><td data-attr="操作人">' + result.data.logs[i].adminUserName + '</td><td data-attr="IP地址">' + result.data.logs[i].ipAddress + '</td><td data-attr="操作内容">' + result.data.logs[i].message + '</td><td data-attr="操作时间">' + result.data.logs[i].createDateTime + '</td></tr>');
                            }
                        }
                        else {
                            alert("未知错误");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
                      
        })
    </script>
}